:root {
  --pinkPurp: #bc3bbd;
  --pink: #e1b9cb;
  --purp: #9552a7;
  --light: #e4c3cf;
  --darkPurp: #623c68;
}

body {
  color: var(--pink);
  background-color: var(--darkPurp);
  border-radius: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.quizContainer {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  background-color: var(--purp);
  border: 5px solid rgb(51, 2, 60);
  border-radius: 20px;
  height: 500px;
}

.quizIntro {
  border-radius: 20px;
}

header {
  text-align: center;
  position: relative;
}

nav {
  border: 4px solid var(--light);
  border-radius: 10px;
  height: 8vh;
  padding: 1vw;
  color: var(--light);
}

.vhsBtn {
  float: left;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--light);
}

.vhsBtn:hover {
  background-color: var(--pinkPurp);
  color: white;
}

.timer {
  float: right;
}

.intro {
  margin: 20px;
  font-size: 25px;
}

.instLi {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  font-size: 20px;
}

.dynDiv {
  height: 25vw;
  padding: 10px;
}

#alert {
  text-align: center;
}

.startBtn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 80%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.askQuestion {
  text-align: center;
}

.dynli {
  background-color: var(--darkPurp);
  border: 2px solid black;
  border-radius: 6px;
  width: 95%;
  font-size: 20px;
  padding-left: 4px;
  height: 32px;
  margin-top: 20px;
}

.endGame {
  visibility: hidden;
  display: inline-flex;
  flex-direction: column;
}

.end {
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

label {
  font-size: 25px;
}

.userInitials {
  padding-right: 10px;
  margin-left: 20px;
}

#initials {
  margin-bottom: 10px;
}
